

<ul class="list-group" *ngIf="todosArr.length > 0 ; else notodosArr">
    <li class="list-group-item d-flex justify-content-between" *ngFor="let todo of todosArr">
        <strong>
{{todo.todoItem}}
        </strong>
        <div>
            <button class="button btn btn-outline-info mr-2">EDIT</button>
            <button (click)="onRemove(todo.todoId)" class="button btn btn-outline-danger">Remove</button>
        </div>
    </li>
</ul>
<ng-template #notodosArr>
<p class="alert alert-info">
    No todo item added
</p>
</ng-template>
