<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <app-todo-form #todoForm></app-todo-form>
    </div>
    <div class="col-md-6">
      <app-todo-list (edit)="todoForm.editTodo($event)"></app-todo-list>
    </div>
  </div>
</div>

<div class="conatiner mt-5 ml-3">
  <div class="row">
    <div class="col-md-4">
      <app-student-form #studentForm></app-student-form>
    </div>
    <div class="col-md-8">
      <app-student-table (edit)="studentForm.onEdit($event)"></app-student-table>
    </div>
  </div>

</div>
